Repository rilling/OpenTracks-Winter-SOEN-6431_2024, pull requests merged in 2024-04, with the labels that each got.

#141 Alireza - UI for Case Study 2 Aggregate Stats
  .idea/navEditor.xml
  build.gradle
  src/main/AndroidManifest.xml
  src/main/java/de/dennisguse/opentracks/chart/ChartView.java
  src/main/java/de/dennisguse/opentracks/data/CustomContentProvider.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/AggregatedStatisticsAdapter.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/ChairsStatFragment.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/RunAndChairStatActivity.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/RunsStatFragment.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/SeasonListAdapter.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/SeasonStatActivity.java
  src/main/res/drawable/chairs_logo.xml
  src/main/res/drawable/runs_icon.xml
  src/main/res/layout/activity_run_and_chair_stat.xml
  src/main/res/layout/activity_season_stat.xml
  src/main/res/layout/aggregated_stats_list_item.xml
  src/main/res/layout/fragment_chairs_stat.xml
  src/main/res/layout/fragment_runs_stat.xml
  src/main/res/layout/season_list_item.xml
  src/main/res/menu/season_bottom_nav_menu.xml
  src/main/res/navigation/season_stat_navigaton.xml
  src/main/res/values/list_item_layout.xml
Labels: UI, Aggregate Stats

#144 Fix: #54 Statistics (service functions, Ski statistics)-Slope %
  src/main/java/de/dennisguse/opentracks/stats/TrackStatistics.java
  src/main/java/de/dennisguse/opentracks/stats/TrackStatisticsUpdater.java
Labels: Enhancement, Group 6, High Priority, Ski Stats

#151 Statistics (aggregate per day (run/lift) - Average % Slope #68 - FIX
  src/main/java/de/dennisguse/opentracks/stats/TrackStatistics.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/AggregatedStatisticsAdapter.java
  src/main/res/layout/aggregated_stats_list_item.xml
Labels: Enhancement, Group 9, Medium Priority, UI

#157 Issue #102 : Implemented the Season Totals Section for showing the aggregated stats.
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/RunAndChairStatActivity.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/SeasonStatActivity.java
  src/main/res/layout/fragment_runs_stat.xml
Labels: Enhancement, Group 11, Medium Priority, Ski Stats, Aggregate Stats

#176 ISSUE 95 : Identify the segment when a user is on the chairlift
  src/main/java/de/dennisguse/opentracks/io/file/importer/TrackImporter.java
Labels: Group 4

#170 GH #135 : Added a method to calculate the average distance
  src/main/java/de/dennisguse/opentracks/data/models/Altitude.java
  src/main/java/de/dennisguse/opentracks/data/models/TrackSegment.java
Labels: Group 8

#178 Improve functions and added Java docs
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/RunAndChairStatActivity.java
Labels: Group 11, Medium Priority, Aggregate Stats

#182 71 settings voice announcements announce avg slope at end of each recording
  src/main/java/de/dennisguse/opentracks/services/TrackRecordingService.java
  src/main/java/de/dennisguse/opentracks/services/announcement/TTSManager.java
  src/main/java/de/dennisguse/opentracks/services/announcement/VoiceAnnouncementManager.java
  src/main/java/de/dennisguse/opentracks/services/announcement/VoiceAnnouncementUtils.java
  src/main/java/de/dennisguse/opentracks/settings/PreferencesUtils.java
  src/main/res/values/settings.xml
  src/main/res/values/strings.xml
  src/main/res/xml/settings_announcements.xml
Labels: Enhancement, Medium Priority, Group 15, Voice Announcements

#183 Pull request of all features from Group# 3
  .idea/navEditor.xml
  build.gradle
  src/main/AndroidManifest.xml
  src/main/java/de/dennisguse/opentracks/chart/ChartView.java
  src/main/java/de/dennisguse/opentracks/data/CustomContentProvider.java
  src/main/java/de/dennisguse/opentracks/data/models/WeatherInformation.java
  src/main/java/de/dennisguse/opentracks/settings/CalorieUserDetail.java
  src/main/java/de/dennisguse/opentracks/settings/MainSettingsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SettingsActivity.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileMaintenanceFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileSettingsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileSharpeningFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileStatisticsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileWaxingFragment.java
  src/main/java/de/dennisguse/opentracks/stats/TrackStatistics.java
  src/main/java/de/dennisguse/opentracks/stats/TrackStatisticsUpdater.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/AggregatedStatisticsAdapter.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/ChairsStatFragment.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/RunsStatFragment.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/SeasonListAdapter.java
  src/main/res/drawable/chairs_logo.xml
  src/main/res/drawable/runs_icon.xml
  src/main/res/layout/activity_run_and_chair_stat.xml
  src/main/res/layout/activity_season_stat.xml
  src/main/res/layout/aggregated_stats_list_item.xml
  src/main/res/layout/fragment_chairs_stat.xml
  src/main/res/layout/season_list_item.xml
  src/main/res/menu/season_bottom_nav_menu.xml
  src/main/res/navigation/season_stat_navigaton.xml
  src/main/res/values/arrays.xml
  src/main/res/values/list_item_layout.xml
  src/main/res/values/settings.xml
  src/main/res/values/strings.xml
  src/main/res/xml/fragment_ski_profile_sharpening_info.xml
  src/main/res/xml/fragment_ski_profile_ski_maintenance.xml
  src/main/res/xml/fragment_ski_profile_statistics.xml
  src/main/res/xml/fragment_ski_profile_waxing_info.xml
  src/main/res/xml/settings.xml
  src/main/res/xml/settings_ski_profile.xml
Labels: Enhancement, Group 3, High Priority, Medium Priority, Ski Profile, UI

#199 Group 15 contribution
  src/main/java/de/dennisguse/opentracks/services/announcement/VoiceAnnouncementManager.java
  src/main/java/de/dennisguse/opentracks/services/announcement/VoiceAnnouncementUtils.java
  src/main/java/de/dennisguse/opentracks/settings/PreferencesUtils.java
  src/main/res/values/settings.xml
  src/main/res/values/strings.xml
  src/main/res/xml/settings_announcements.xml
Labels: Group 15, Voice Announcements

#209 Group 6 Fixed merge conflict
  src/main/java/de/dennisguse/opentracks/data/models/Chairlift.java
  src/main/java/de/dennisguse/opentracks/data/models/Run.java
  src/main/java/de/dennisguse/opentracks/stats/ChairliftStatistics.java
  src/main/java/de/dennisguse/opentracks/stats/RunAnalyzer.java
  src/main/java/de/dennisguse/opentracks/stats/SessionManager.java
  src/main/java/de/dennisguse/opentracks/stats/TrackStatistics.java
  src/main/java/de/dennisguse/opentracks/stats/TrackStatisticsUpdater.java
Labels: Group 6

#216 Update SkiProfileMaintenanceFragment
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileMaintenanceFragment.java
Labels: Group 3, Medium Priority, Ski Profile

#217 Group 11: Final Changes - Some minor refactoring
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/ChairsStatFragment.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/RunAndChairStatActivity.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/RunsStatFragment.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/SeasonListAdapter.java
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/SeasonStats/SeasonStatActivity.java
  src/main/res/drawable/chairs_logo.xml
  src/main/res/drawable/runs_icon.xml
  src/main/res/layout/activity_run_and_chair_stat.xml
  src/main/res/layout/activity_season_stat.xml
  src/main/res/layout/fragment_chairs_stat.xml
  src/main/res/layout/season_list_item.xml
  src/main/res/menu/season_bottom_nav_menu.xml
Labels: Enhancement, Group 11, Medium Priority, Aggregate Stats

#228 refactor and performance enhancement
  src/main/java/de/dennisguse/opentracks/ui/aggregatedStatistics/daySpecificStats/DaySpecificAdapter.java
Labels: documentation, Group 8

#229 Group 13 Sprint 3 contribution
  src/main/AndroidManifest.xml
  src/main/java/de/dennisguse/opentracks/TrackListActivity.java
  src/main/java/de/dennisguse/opentracks/data/models/WeatherInformation.java
  src/main/java/de/dennisguse/opentracks/services/WeatherFetchService.java
  src/main/java/de/dennisguse/opentracks/settings/CalorieUserDetail.java
Labels: Group 13

#230 Group 3 - Sprint 3 - Complete Ski Maintenance and Ski Statistics
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileSettingsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileStatisticsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileFavoriteSkiResortFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileMaintenanceFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileSharpeningFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileStatisticsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileWaxingFragment.java
  src/main/res/values/strings.xml
  src/main/res/xml/fragment_ski_profile_favorite_ski_resort.xml
  src/main/res/xml/fragment_ski_profile_sharpening_info.xml
  src/main/res/xml/fragment_ski_profile_statistics.xml
  src/main/res/xml/settings_ski_profile.xml
Labels: Enhancement, Group 3, Medium Priority, Ski Profile, UI

#227 Group 15 sprint 3 contribution
  src/main/AndroidManifest.xml
  src/main/java/de/dennisguse/opentracks/TrackListActivity.java
  src/main/java/de/dennisguse/opentracks/data/models/Chairlift.java
  src/main/java/de/dennisguse/opentracks/data/models/TrackPoint.java
  src/main/java/de/dennisguse/opentracks/services/WeatherFetchService.java
  src/main/java/de/dennisguse/opentracks/services/announcement/VoiceAnnouncementManager.java
  src/main/java/de/dennisguse/opentracks/services/announcement/VoiceAnnouncementUtils.java
  src/main/java/de/dennisguse/opentracks/settings/CalorieUserDetail.java
  src/main/java/de/dennisguse/opentracks/settings/PreferencesUtils.java
  src/main/java/de/dennisguse/opentracks/stats/ChairliftStatistics.java
  src/main/java/de/dennisguse/opentracks/stats/TrackStatistics.java
  src/main/java/de/dennisguse/opentracks/stats/TrackStatisticsUpdater.java
  src/main/res/values/settings.xml
  src/main/res/values/strings.xml
  src/main/res/xml/settings_announcements.xml
Labels: Group 15
